.keys-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
}

.key {
    padding: 8px;
    text-align: center;
    border: 3px solid black;
    transition: all 0.07s;
}

.highlight {
    transform: scale(1.1);
    border-color: orange;
}
